<a href="https://colab.research.google.com/github/sarthak247/reddit-seq2seq/blob/master/01_Getting_and_Procesing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Mount Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

### Downloading Reddit Comments Dataset for January 2015

In [2]:
!wget https://files.pushshift.io/reddit/comments/RC_2015-01.bz2

--2019-03-24 00:25:50--  https://files.pushshift.io/reddit/comments/RC_2015-01.bz2
Resolving files.pushshift.io (files.pushshift.io)... 104.24.100.193, 104.24.101.193, 2606:4700:30::6818:64c1, ...
Connecting to files.pushshift.io (files.pushshift.io)|104.24.100.193|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5452413560 (5.1G) [application/octet-stream]
Saving to: ‘RC_2015-01.bz2’

RC_2015-01.bz2      100%[===================>]   5.08G  11.7MB/s    in 20m 17s

2019-03-24 00:46:08 (4.27 MB/s) - ‘RC_2015-01.bz2’ saved [5452413560/5452413560]

### Unzipping Dataset and Removing Original File

In [0]:
# Uncompressing Dataset
# This will take around 15-20 mins depending upon the size of dataset chosen
!bzip2 -d RC_2015-01.bz2

### Processing and Filtering out Data from the Dataset

In [0]:
# Importing Required Libraries
import sqlite3
import json
from datetime import datetime
import re

In [0]:
# Connecting to SQL Database
sql_transaction = []
db = sqlite3.connect('RC_2015-01.db')
c = db.cursor()

In [0]:
# Create table in DB
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS parent_reply(parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, comment TEXT, subreddit TEXT, unix INT, score INT)")

In [0]:
# Removing unwanted characters from data
def clean_text(text):
  text = text.lower()
  text = re.sub(r"i'm","i am", text)
  text = re.sub(r"he's","he is", text)
  text = re.sub(r"she's","she is", text)
  text = re.sub(r"that's","that is", text)
  text = re.sub(r"what's","what is", text)
  text = re.sub(r"where's","where is", text)
  text = re.sub(r"\'ll", " will", text)
  text = re.sub(r"\'ve", " have", text)
  text = re.sub(r"\'re", " are", text)
  text = re.sub(r"\'d", " would", text)
  text = re.sub(r"won't", "will not", text)
  text = re.sub(r"can't", "cannot", text)
  text = re.sub(r"[-()\"#/@;:<>{}+=~|.?,]", "", text)
  return text

In [0]:
# Batch together a bunch of SQL statements
def transaction_bldr(sql):
  global sql_transaction
  sql_transaction.append(sql)
  
  # Execute if batch exceeds 1000
  if len(sql_transaction) > 1000:
    c.execute('BEGIN TRANSACTION')
    for s in sql_transaction:
      try:
        c.execute(s)
      except:
        pass
    db.commit()
    sql_transaction = []

In [0]:
# Replace the existing comment from the parent-comment pair if a new comment with a higher score shows up
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('Insert Error: ',str(e))

In [0]:
# Insert a parent-comment pair to the DB
def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('Insert Error: ',str(e))

In [0]:
# Insert only comment to the DB (ie, without a comment associated with it)
def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('Insert Error: ',str(e))

In [0]:
# Check if a parent/comment is of acceptable length
def acceptable(data):
  if len(data.split(' ')) > 1000 or len(data) < 1:
    return False
  elif len(data) > 32000:
    return False
  elif data == '[deleted]':
    return False
  elif data == '[removed]':
    return False
  else:
    return True

In [0]:
# Find a comment by it's comment_id
def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        return False

In [0]:
# Find existing score of a comment/reply pair
def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else: return False
    except Exception as e:
        return False

### Main Program

In [16]:
create_table()
start_row = 0
cleanup = 3000000 # Cleanup after every 3 million rows
row_counter = 0
paired_rows = 0

with open('RC_2015-01',buffering = 1000) as dataset:
  for row in dataset:
    row_counter += 1
    
    if row_counter > start_row:
      try:
        row = json.loads(row)
        parent_id = row['parent_id'].split('_')[1]
        body = clean_text(row['body'])
        created_utc = row['created_utc']
        score = row['score']
        subreddit = row['subreddit']
        comment_id = row['id']
        
        parent_data = find_parent(parent_id)
        
        existing_reply_score = find_existing_score(parent_id)
        if existing_reply_score:
          if score > existing_reply_score:
            if acceptable(body):
              sql_insert_replace_comment(parent_id,comment_id,parent_data,body,subreddit,created_utc,score)
        else:
          if acceptable(body):
            if parent_data:
              if score >= 15:
                sql_insert_has_parent(parent_id,comment_id,parent_data,body,subreddit,created_utc,score)
                paired_rows += 1
            else:
              sql_insert_no_parent(parent_id,comment_id,body,subreddit,created_utc,score)
      except Exception as e:
        print('Error: ' + str(e))
    
    #Log
    if row_counter % 100000 == 0:
      print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter,paired_rows,str(datetime.now())))

    #Clean Up
    if row_counter > start_row:
      if row_counter % cleanup == 0:
        print('Cleaning Up!')
        sql = "DELETE FROM parent_reply WHERE PARENT IS NULL"
        c.execute(sql)
        db.commit()
        c.execute("VACUUM")
        db.commit()

Total Rows Read: 100000, Paired Rows: 3505, Time: 2019-03-24 01:22:58.919610
Total Rows Read: 200000, Paired Rows: 6831, Time: 2019-03-24 01:23:10.111894
Total Rows Read: 300000, Paired Rows: 10067, Time: 2019-03-24 01:23:21.315811
Total Rows Read: 400000, Paired Rows: 13684, Time: 2019-03-24 01:23:32.525158
Total Rows Read: 500000, Paired Rows: 16973, Time: 2019-03-24 01:23:43.786118
Total Rows Read: 600000, Paired Rows: 20487, Time: 2019-03-24 01:23:55.133369
Total Rows Read: 700000, Paired Rows: 24669, Time: 2019-03-24 01:24:06.539562
Total Rows Read: 800000, Paired Rows: 29865, Time: 2019-03-24 01:24:17.962332
Total Rows Read: 900000, Paired Rows: 35311, Time: 2019-03-24 01:24:29.387070
Total Rows Read: 1000000, Paired Rows: 40194, Time: 2019-03-24 01:24:40.747049
Total Rows Read: 1100000, Paired Rows: 44804, Time: 2019-03-24 01:24:52.106565
Total Rows Read: 1200000, Paired Rows: 49076, Time: 2019-03-24 01:25:03.425693
Total Rows Read: 1300000, Paired Rows: 53298, Time: 2019-03-24 01:25:14.828555
Total Rows Read: 1400000, Paired Rows: 57228, Time: 2019-03-24 01:25:26.230419
Total Rows Read: 1500000, Paired Rows: 60787, Time: 2019-03-24 01:25:37.564502
Total Rows Read: 1600000, Paired Rows: 64489, Time: 2019-03-24 01:25:48.844166
Total Rows Read: 1700000, Paired Rows: 68077, Time: 2019-03-24 01:26:00.165980
Total Rows Read: 1800000, Paired Rows: 71494, Time: 2019-03-24 01:26:11.430211
Total Rows Read: 1900000, Paired Rows: 75213, Time: 2019-03-24 01:26:22.535933
Total Rows Read: 2000000, Paired Rows: 78915, Time: 2019-03-24 01:26:34.014026
Total Rows Read: 2100000, Paired Rows: 81895, Time: 2019-03-24 01:26:45.407348
Total Rows Read: 2200000, Paired Rows: 85282, Time: 2019-03-24 01:26:56.833747
Total Rows Read: 2300000, Paired Rows: 89447, Time: 2019-03-24 01:27:08.399282
Total Rows Read: 2400000, Paired Rows: 93909, Time: 2019-03-24 01:27:19.900707
Total Rows Read: 2500000, Paired Rows: 98780, Time: 2019-03-24 01:27:31.461000
Total Rows Read: 2600000, Paired Rows: 103402, Time: 2019-03-24 01:27:42.949004
Total Rows Read: 2700000, Paired Rows: 107650, Time: 2019-03-24 01:27:54.466114
Total Rows Read: 2800000, Paired Rows: 111584, Time: 2019-03-24 01:28:05.974154
Total Rows Read: 2900000, Paired Rows: 115542, Time: 2019-03-24 01:28:17.478363
Total Rows Read: 3000000, Paired Rows: 119316, Time: 2019-03-24 01:28:28.956972
Cleaning Up!
Total Rows Read: 3100000, Paired Rows: 120702, Time: 2019-03-24 01:28:51.288656
Total Rows Read: 3200000, Paired Rows: 122461, Time: 2019-03-24 01:29:04.672378
Total Rows Read: 3300000, Paired Rows: 124156, Time: 2019-03-24 01:29:18.092344
Total Rows Read: 3400000, Paired Rows: 126086, Time: 2019-03-24 01:29:31.566599
Total Rows Read: 3500000, Paired Rows: 128012, Time: 2019-03-24 01:29:45.197728
Total Rows Read: 3600000, Paired Rows: 129896, Time: 2019-03-24 01:29:58.830240
Total Rows Read: 3700000, Paired Rows: 131787, Time: 2019-03-24 01:30:12.514863
Total Rows Read: 3800000, Paired Rows: 133645, Time: 2019-03-24 01:30:26.386766
Total Rows Read: 3900000, Paired Rows: 135708, Time: 2019-03-24 01:30:40.203508
Total Rows Read: 4000000, Paired Rows: 138295, Time: 2019-03-24 01:30:53.514152
Total Rows Read: 4100000, Paired Rows: 141045, Time: 2019-03-24 01:31:07.024833
Total Rows Read: 4200000, Paired Rows: 143607, Time: 2019-03-24 01:31:20.622476
Total Rows Read: 4300000, Paired Rows: 146230, Time: 2019-03-24 01:31:34.020575
Total Rows Read: 4400000, Paired Rows: 148734, Time: 2019-03-24 01:31:47.438827
Total Rows Read: 4500000, Paired Rows: 150907, Time: 2019-03-24 01:32:00.531527
Total Rows Read: 4600000, Paired Rows: 153054, Time: 2019-03-24 01:32:13.686590
Total Rows Read: 4700000, Paired Rows: 155173, Time: 2019-03-24 01:32:26.794478
Total Rows Read: 4800000, Paired Rows: 157454, Time: 2019-03-24 01:32:39.845869
Total Rows Read: 4900000, Paired Rows: 159705, Time: 2019-03-24 01:32:53.204005
Total Rows Read: 5000000, Paired Rows: 161668, Time: 2019-03-24 01:33:06.256455
Total Rows Read: 5100000, Paired Rows: 163847, Time: 2019-03-24 01:33:19.447012
Total Rows Read: 5200000, Paired Rows: 165889, Time: 2019-03-24 01:33:32.611778
Total Rows Read: 5300000, Paired Rows: 167845, Time: 2019-03-24 01:33:46.015323
Total Rows Read: 5400000, Paired Rows: 169646, Time: 2019-03-24 01:33:59.453669
Total Rows Read: 5500000, Paired Rows: 171826, Time: 2019-03-24 01:34:13.185559
Total Rows Read: 5600000, Paired Rows: 174439, Time: 2019-03-24 01:34:26.598152
Total Rows Read: 5700000, Paired Rows: 177322, Time: 2019-03-24 01:34:39.971058
Total Rows Read: 5800000, Paired Rows: 180100, Time: 2019-03-24 01:34:53.398528
Total Rows Read: 5900000, Paired Rows: 182600, Time: 2019-03-24 01:35:06.839349
Total Rows Read: 6000000, Paired Rows: 184954, Time: 2019-03-24 01:35:20.237886
Cleaning Up!
Total Rows Read: 6100000, Paired Rows: 186615, Time: 2019-03-24 01:35:42.630729
Total Rows Read: 6200000, Paired Rows: 188579, Time: 2019-03-24 01:35:55.726968
Total Rows Read: 6300000, Paired Rows: 190463, Time: 2019-03-24 01:36:09.207810
Total Rows Read: 6400000, Paired Rows: 192698, Time: 2019-03-24 01:36:22.473538
Total Rows Read: 6500000, Paired Rows: 195170, Time: 2019-03-24 01:36:36.199849
Total Rows Read: 6600000, Paired Rows: 197519, Time: 2019-03-24 01:36:49.978212
Total Rows Read: 6700000, Paired Rows: 199950, Time: 2019-03-24 01:37:03.660364
Total Rows Read: 6800000, Paired Rows: 201958, Time: 2019-03-24 01:37:17.382925
Total Rows Read: 6900000, Paired Rows: 203811, Time: 2019-03-24 01:37:31.224980
Total Rows Read: 7000000, Paired Rows: 205591, Time: 2019-03-24 01:37:45.218810
Total Rows Read: 7100000, Paired Rows: 207509, Time: 2019-03-24 01:37:59.095737
Total Rows Read: 7200000, Paired Rows: 209808, Time: 2019-03-24 01:38:13.075746
Total Rows Read: 7300000, Paired Rows: 212420, Time: 2019-03-24 01:38:26.897538
Total Rows Read: 7400000, Paired Rows: 215083, Time: 2019-03-24 01:38:40.591149
Total Rows Read: 7500000, Paired Rows: 217698, Time: 2019-03-24 01:38:54.306890
Total Rows Read: 7600000, Paired Rows: 220062, Time: 2019-03-24 01:39:07.629721
Total Rows Read: 7700000, Paired Rows: 222477, Time: 2019-03-24 01:39:20.959159
Total Rows Read: 7800000, Paired Rows: 224836, Time: 2019-03-24 01:39:34.261168
Total Rows Read: 7900000, Paired Rows: 226905, Time: 2019-03-24 01:39:47.547991
Total Rows Read: 8000000, Paired Rows: 228867, Time: 2019-03-24 01:40:00.883701
Total Rows Read: 8100000, Paired Rows: 230785, Time: 2019-03-24 01:40:14.308443
Total Rows Read: 8200000, Paired Rows: 232721, Time: 2019-03-24 01:40:27.499568
Total Rows Read: 8300000, Paired Rows: 234563, Time: 2019-03-24 01:40:40.585128
Total Rows Read: 8400000, Paired Rows: 236476, Time: 2019-03-24 01:40:53.827247
Total Rows Read: 8500000, Paired Rows: 238455, Time: 2019-03-24 01:41:07.130107
Total Rows Read: 8600000, Paired Rows: 240260, Time: 2019-03-24 01:41:20.466882
Total Rows Read: 8700000, Paired Rows: 241949, Time: 2019-03-24 01:41:33.985355
Total Rows Read: 8800000, Paired Rows: 243713, Time: 2019-03-24 01:41:47.410227
Total Rows Read: 8900000, Paired Rows: 245819, Time: 2019-03-24 01:42:00.933293
Total Rows Read: 9000000, Paired Rows: 248393, Time: 2019-03-24 01:42:14.414219
Cleaning Up!
Total Rows Read: 9100000, Paired Rows: 250307, Time: 2019-03-24 01:42:36.665685
Total Rows Read: 9200000, Paired Rows: 252704, Time: 2019-03-24 01:42:50.012952
Total Rows Read: 9300000, Paired Rows: 255136, Time: 2019-03-24 01:43:03.501353
Total Rows Read: 9400000, Paired Rows: 257682, Time: 2019-03-24 01:43:16.989225
Total Rows Read: 9500000, Paired Rows: 260014, Time: 2019-03-24 01:43:30.811782
Total Rows Read: 9600000, Paired Rows: 262203, Time: 2019-03-24 01:43:44.607680
Total Rows Read: 9700000, Paired Rows: 264277, Time: 2019-03-24 01:43:58.315790
Total Rows Read: 9800000, Paired Rows: 266399, Time: 2019-03-24 01:44:12.179711
Total Rows Read: 9900000, Paired Rows: 268405, Time: 2019-03-24 01:44:25.927702
Total Rows Read: 10000000, Paired Rows: 270334, Time: 2019-03-24 01:44:39.489067
Total Rows Read: 10100000, Paired Rows: 272146, Time: 2019-03-24 01:44:53.035604
Total Rows Read: 10200000, Paired Rows: 274087, Time: 2019-03-24 01:45:06.263242
Total Rows Read: 10300000, Paired Rows: 276084, Time: 2019-03-24 01:45:19.785941
Total Rows Read: 10400000, Paired Rows: 277895, Time: 2019-03-24 01:45:33.525518
Total Rows Read: 10500000, Paired Rows: 279592, Time: 2019-03-24 01:45:47.283021
Total Rows Read: 10600000, Paired Rows: 281258, Time: 2019-03-24 01:46:00.988270
Total Rows Read: 10700000, Paired Rows: 283386, Time: 2019-03-24 01:46:14.562404
Total Rows Read: 10800000, Paired Rows: 286033, Time: 2019-03-24 01:46:28.057979
Total Rows Read: 10900000, Paired Rows: 288992, Time: 2019-03-24 01:46:41.530320
Total Rows Read: 11000000, Paired Rows: 291720, Time: 2019-03-24 01:46:55.015845
Total Rows Read: 11100000, Paired Rows: 294189, Time: 2019-03-24 01:47:08.440043
Total Rows Read: 11200000, Paired Rows: 296422, Time: 2019-03-24 01:47:22.022770
Total Rows Read: 11300000, Paired Rows: 298633, Time: 2019-03-24 01:47:35.432751
Total Rows Read: 11400000, Paired Rows: 300943, Time: 2019-03-24 01:47:49.066620
Total Rows Read: 11500000, Paired Rows: 303133, Time: 2019-03-24 01:48:02.708534
Total Rows Read: 11600000, Paired Rows: 305199, Time: 2019-03-24 01:48:16.213288
Total Rows Read: 11700000, Paired Rows: 307224, Time: 2019-03-24 01:48:29.709227
Total Rows Read: 11800000, Paired Rows: 309049, Time: 2019-03-24 01:48:43.188976
Total Rows Read: 11900000, Paired Rows: 310845, Time: 2019-03-24 01:48:56.793025
Total Rows Read: 12000000, Paired Rows: 312786, Time: 2019-03-24 01:49:10.227287
Cleaning Up!
Total Rows Read: 12100000, Paired Rows: 314354, Time: 2019-03-24 01:49:33.177458
Total Rows Read: 12200000, Paired Rows: 316058, Time: 2019-03-24 01:49:46.562625
Total Rows Read: 12300000, Paired Rows: 317917, Time: 2019-03-24 01:50:00.232235
Total Rows Read: 12400000, Paired Rows: 319644, Time: 2019-03-24 01:50:14.494840
Total Rows Read: 12500000, Paired Rows: 321390, Time: 2019-03-24 01:50:28.696415
Total Rows Read: 12600000, Paired Rows: 323577, Time: 2019-03-24 01:50:42.531825
Total Rows Read: 12700000, Paired Rows: 326127, Time: 2019-03-24 01:50:56.523022
Total Rows Read: 12800000, Paired Rows: 328786, Time: 2019-03-24 01:51:10.385645
Total Rows Read: 12900000, Paired Rows: 331311, Time: 2019-03-24 01:51:24.183228
Total Rows Read: 13000000, Paired Rows: 333700, Time: 2019-03-24 01:51:38.010998
Total Rows Read: 13100000, Paired Rows: 336126, Time: 2019-03-24 01:51:51.655661
Total Rows Read: 13200000, Paired Rows: 338527, Time: 2019-03-24 01:52:05.484582
Total Rows Read: 13300000, Paired Rows: 340748, Time: 2019-03-24 01:52:19.267965
Total Rows Read: 13400000, Paired Rows: 342620, Time: 2019-03-24 01:52:33.076036
Total Rows Read: 13500000, Paired Rows: 344504, Time: 2019-03-24 01:52:47.145426
Total Rows Read: 13600000, Paired Rows: 346485, Time: 2019-03-24 01:53:00.980235
Total Rows Read: 13700000, Paired Rows: 348325, Time: 2019-03-24 01:53:14.428619
Total Rows Read: 13800000, Paired Rows: 350189, Time: 2019-03-24 01:53:28.150724
Total Rows Read: 13900000, Paired Rows: 352190, Time: 2019-03-24 01:53:41.632704
Total Rows Read: 14000000, Paired Rows: 354076, Time: 2019-03-24 01:53:55.244145
Total Rows Read: 14100000, Paired Rows: 355792, Time: 2019-03-24 01:54:08.573638
Total Rows Read: 14200000, Paired Rows: 357495, Time: 2019-03-24 01:54:22.364764
Total Rows Read: 14300000, Paired Rows: 359216, Time: 2019-03-24 01:54:36.253791
Total Rows Read: 14400000, Paired Rows: 361420, Time: 2019-03-24 01:54:50.217294
Total Rows Read: 14500000, Paired Rows: 363764, Time: 2019-03-24 01:55:03.856081
Total Rows Read: 14600000, Paired Rows: 366236, Time: 2019-03-24 01:55:17.489803
Total Rows Read: 14700000, Paired Rows: 368694, Time: 2019-03-24 01:55:31.169803
Total Rows Read: 14800000, Paired Rows: 371025, Time: 2019-03-24 01:55:44.778562
Total Rows Read: 14900000, Paired Rows: 373256, Time: 2019-03-24 01:55:58.484222
Total Rows Read: 15000000, Paired Rows: 375384, Time: 2019-03-24 01:56:12.168241
Cleaning Up!
Total Rows Read: 15100000, Paired Rows: 376785, Time: 2019-03-24 01:56:35.415252
Total Rows Read: 15200000, Paired Rows: 378635, Time: 2019-03-24 01:56:48.917940
Total Rows Read: 15300000, Paired Rows: 380487, Time: 2019-03-24 01:57:02.533906
Total Rows Read: 15400000, Paired Rows: 382356, Time: 2019-03-24 01:57:16.426869
Total Rows Read: 15500000, Paired Rows: 384239, Time: 2019-03-24 01:57:30.312764
Total Rows Read: 15600000, Paired Rows: 386066, Time: 2019-03-24 01:57:43.886904
Total Rows Read: 15700000, Paired Rows: 387953, Time: 2019-03-24 01:57:57.753267
Total Rows Read: 15800000, Paired Rows: 389769, Time: 2019-03-24 01:58:11.414727
Total Rows Read: 15900000, Paired Rows: 391564, Time: 2019-03-24 01:58:25.174538
Total Rows Read: 16000000, Paired Rows: 393269, Time: 2019-03-24 01:58:39.416200
Total Rows Read: 16100000, Paired Rows: 395137, Time: 2019-03-24 01:58:53.105329
Total Rows Read: 16200000, Paired Rows: 397659, Time: 2019-03-24 01:59:06.884931
Total Rows Read: 16300000, Paired Rows: 400639, Time: 2019-03-24 01:59:20.399988
Total Rows Read: 16400000, Paired Rows: 403466, Time: 2019-03-24 01:59:34.110855
Total Rows Read: 16500000, Paired Rows: 405987, Time: 2019-03-24 01:59:47.745926
Total Rows Read: 16600000, Paired Rows: 408379, Time: 2019-03-24 02:00:01.220341
Total Rows Read: 16700000, Paired Rows: 410672, Time: 2019-03-24 02:00:14.690319
Total Rows Read: 16800000, Paired Rows: 412749, Time: 2019-03-24 02:00:27.931802
Total Rows Read: 16900000, Paired Rows: 414829, Time: 2019-03-24 02:00:41.030851
Total Rows Read: 17000000, Paired Rows: 416833, Time: 2019-03-24 02:00:54.272757
Total Rows Read: 17100000, Paired Rows: 419140, Time: 2019-03-24 02:01:07.480565
Total Rows Read: 17200000, Paired Rows: 421220, Time: 2019-03-24 02:01:20.798835
Total Rows Read: 17300000, Paired Rows: 423408, Time: 2019-03-24 02:01:33.998092
Total Rows Read: 17400000, Paired Rows: 425651, Time: 2019-03-24 02:01:47.169363
Total Rows Read: 17500000, Paired Rows: 427610, Time: 2019-03-24 02:02:00.689293
Total Rows Read: 17600000, Paired Rows: 429435, Time: 2019-03-24 02:02:14.213463
Total Rows Read: 17700000, Paired Rows: 431399, Time: 2019-03-24 02:02:27.676982
Total Rows Read: 17800000, Paired Rows: 433928, Time: 2019-03-24 02:02:41.131480
Total Rows Read: 17900000, Paired Rows: 436772, Time: 2019-03-24 02:02:54.815353
Total Rows Read: 18000000, Paired Rows: 439693, Time: 2019-03-24 02:03:08.408217
Cleaning Up!
Total Rows Read: 18100000, Paired Rows: 441557, Time: 2019-03-24 02:03:30.743491
Total Rows Read: 18200000, Paired Rows: 443702, Time: 2019-03-24 02:03:43.932799
Total Rows Read: 18300000, Paired Rows: 445905, Time: 2019-03-24 02:03:57.101223
Total Rows Read: 18400000, Paired Rows: 448391, Time: 2019-03-24 02:04:10.319285
Total Rows Read: 18500000, Paired Rows: 450835, Time: 2019-03-24 02:04:23.864954
Total Rows Read: 18600000, Paired Rows: 453021, Time: 2019-03-24 02:04:37.204729
Total Rows Read: 18700000, Paired Rows: 455670, Time: 2019-03-24 02:04:50.487813
Total Rows Read: 18800000, Paired Rows: 458041, Time: 2019-03-24 02:05:03.963794
Total Rows Read: 18900000, Paired Rows: 460328, Time: 2019-03-24 02:05:17.454289
Total Rows Read: 19000000, Paired Rows: 462522, Time: 2019-03-24 02:05:31.019600
Total Rows Read: 19100000, Paired Rows: 464592, Time: 2019-03-24 02:05:44.385921
Total Rows Read: 19200000, Paired Rows: 466462, Time: 2019-03-24 02:05:58.342212
Total Rows Read: 19300000, Paired Rows: 468173, Time: 2019-03-24 02:06:12.120592
Total Rows Read: 19400000, Paired Rows: 469901, Time: 2019-03-24 02:06:26.040825
Total Rows Read: 19500000, Paired Rows: 472129, Time: 2019-03-24 02:06:39.888648
Total Rows Read: 19600000, Paired Rows: 474568, Time: 2019-03-24 02:06:53.516016
Total Rows Read: 19700000, Paired Rows: 477143, Time: 2019-03-24 02:07:07.338763
Total Rows Read: 19800000, Paired Rows: 479735, Time: 2019-03-24 02:07:20.820001
Total Rows Read: 19900000, Paired Rows: 482165, Time: 2019-03-24 02:07:34.550820
Total Rows Read: 20000000, Paired Rows: 484608, Time: 2019-03-24 02:07:48.428327
Total Rows Read: 20100000, Paired Rows: 486848, Time: 2019-03-24 02:08:02.298266
Total Rows Read: 20200000, Paired Rows: 489113, Time: 2019-03-24 02:08:16.240763
Total Rows Read: 20300000, Paired Rows: 491075, Time: 2019-03-24 02:08:30.249257
Total Rows Read: 20400000, Paired Rows: 493094, Time: 2019-03-24 02:08:43.905707
Total Rows Read: 20500000, Paired Rows: 495080, Time: 2019-03-24 02:08:57.401095
Total Rows Read: 20600000, Paired Rows: 497077, Time: 2019-03-24 02:09:10.747668
Total Rows Read: 20700000, Paired Rows: 498944, Time: 2019-03-24 02:09:23.926035
Total Rows Read: 20800000, Paired Rows: 500936, Time: 2019-03-24 02:09:37.133150
Total Rows Read: 20900000, Paired Rows: 502887, Time: 2019-03-24 02:09:50.905283
Total Rows Read: 21000000, Paired Rows: 504422, Time: 2019-03-24 02:10:04.868752
Cleaning Up!
Total Rows Read: 21100000, Paired Rows: 505624, Time: 2019-03-24 02:10:27.564327
Total Rows Read: 21200000, Paired Rows: 507458, Time: 2019-03-24 02:10:41.046108
Total Rows Read: 21300000, Paired Rows: 509637, Time: 2019-03-24 02:10:54.868169
Total Rows Read: 21400000, Paired Rows: 512151, Time: 2019-03-24 02:11:08.687453
Total Rows Read: 21500000, Paired Rows: 514607, Time: 2019-03-24 02:11:22.380279
Total Rows Read: 21600000, Paired Rows: 517077, Time: 2019-03-24 02:11:36.157747
Total Rows Read: 21700000, Paired Rows: 519479, Time: 2019-03-24 02:11:49.669814
Total Rows Read: 21800000, Paired Rows: 521655, Time: 2019-03-24 02:12:03.150384
Total Rows Read: 21900000, Paired Rows: 523680, Time: 2019-03-24 02:12:16.444173
Total Rows Read: 22000000, Paired Rows: 525619, Time: 2019-03-24 02:12:29.779331
Total Rows Read: 22100000, Paired Rows: 527519, Time: 2019-03-24 02:12:43.190540
Total Rows Read: 22200000, Paired Rows: 529416, Time: 2019-03-24 02:12:56.668596
Total Rows Read: 22300000, Paired Rows: 531393, Time: 2019-03-24 02:13:10.014065
Total Rows Read: 22400000, Paired Rows: 533495, Time: 2019-03-24 02:13:23.399258
Total Rows Read: 22500000, Paired Rows: 535474, Time: 2019-03-24 02:13:36.822569
Total Rows Read: 22600000, Paired Rows: 537411, Time: 2019-03-24 02:13:50.167735
Total Rows Read: 22700000, Paired Rows: 539293, Time: 2019-03-24 02:14:03.753967
Total Rows Read: 22800000, Paired Rows: 540991, Time: 2019-03-24 02:14:17.418065
Total Rows Read: 22900000, Paired Rows: 542493, Time: 2019-03-24 02:14:31.204012
Total Rows Read: 23000000, Paired Rows: 544318, Time: 2019-03-24 02:14:44.840706
Total Rows Read: 23100000, Paired Rows: 546660, Time: 2019-03-24 02:14:58.537643
Total Rows Read: 23200000, Paired Rows: 549320, Time: 2019-03-24 02:15:12.203597
Total Rows Read: 23300000, Paired Rows: 551999, Time: 2019-03-24 02:15:25.782443
Total Rows Read: 23400000, Paired Rows: 554475, Time: 2019-03-24 02:15:39.462971
Total Rows Read: 23500000, Paired Rows: 556744, Time: 2019-03-24 02:15:52.954828
Total Rows Read: 23600000, Paired Rows: 558985, Time: 2019-03-24 02:16:06.714280
Total Rows Read: 23700000, Paired Rows: 561217, Time: 2019-03-24 02:16:20.251763
Total Rows Read: 23800000, Paired Rows: 563311, Time: 2019-03-24 02:16:33.834025
Total Rows Read: 23900000, Paired Rows: 565310, Time: 2019-03-24 02:16:47.411270
Total Rows Read: 24000000, Paired Rows: 567237, Time: 2019-03-24 02:17:01.021957
Cleaning Up!
Total Rows Read: 24100000, Paired Rows: 568499, Time: 2019-03-24 02:17:24.408274
Total Rows Read: 24200000, Paired Rows: 570143, Time: 2019-03-24 02:17:37.972264
Total Rows Read: 24300000, Paired Rows: 572037, Time: 2019-03-24 02:17:51.425021
Total Rows Read: 24400000, Paired Rows: 574092, Time: 2019-03-24 02:18:05.158253
Total Rows Read: 24500000, Paired Rows: 575974, Time: 2019-03-24 02:18:19.142437
Total Rows Read: 24600000, Paired Rows: 577759, Time: 2019-03-24 02:18:33.106378
Total Rows Read: 24700000, Paired Rows: 579456, Time: 2019-03-24 02:18:47.291182

### Copy Database to Google Drive

In [0]:
!cp RC_2015-01.db /content/drive/My\ Drive